<section class="grid grid-rows-18 h-screen grid-cols-1 gap-y-2 p-2">
  <!-- Main square occupies the first row -->
  <div
    class="bg-slate-400 p-4 border border-black rounded main-square row-start-1 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">home</span>
    </div>
  </div>

  <!-- Menu squares -->
  <div
    class="bg-slate-400 p-4 border border-black rounded menu-squares row-start-2 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">menu</span>
    </div>
  </div>

  <div
    class="bg-slate-400 p-4 border border-black rounded menu-squares row-start-3 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">menu_book</span>
    </div>
  </div>

  <div
    class="bg-slate-400 p-4 border border-black rounded menu-squares row-start-4 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">settings</span>
    </div>
  </div>

  <div
    class="bg-slate-400 p-4 border border-black rounded menu-squares row-start-5 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">help</span>
    </div>
  </div>

  <!-- Movie square -->
  <div
    class="bg-slate-400 p-4 border border-black rounded movie-squares row-start-6 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">movie</span>
    </div>
  </div>

  <!-- Community square -->
  <div
    class="bg-slate-400 p-4 border border-black rounded community-squares row-start-7 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">groups</span>
    </div>
  </div>

  <!-- Add square occupies the last row -->
  <div
    class="bg-slate-400 p-4 border border-black rounded add-square row-start-18 flex justify-center items-center"
  >
    <div class="w-20 h-20 flex justify-center items-center rounded">
      <span class="material-icons text-3xl">add</span>
    </div>
  </div>
</section>
