<section class="grid grid-rows-18 h-screen grid-cols-1 gap-y-2 p-2">
  <!-- Main square occupies the first row -->
  <div
    class="bg-slate-400 p-4 border border-black rounded main-square row-start-1"
  ></div>

  <!-- Menu square -->
  <div
    class="bg-slate-400 p-4 border border-black rounded menu-squares row-start-2"
  ></div>

  <!-- Movie square -->
  <div
    class="bg-slate-400 p-4 border border-black rounded movie-squares row-start-3"
  ></div>

  <!-- Community square -->
  <div
    class="bg-slate-400 p-4 border border-black rounded community-squares row-start-4"
  ></div>

  <!-- Add square occupies the last row -->
  <div
    class="bg-slate-400 p-4 border border-black rounded add-square row-start-18"
  ></div>
</section>
