<section class="page-container">
  @if (errorMessage(); as error) {
  <div class="error-message">{{ error }}</div>
  } @if (isLoading()) {
  <mat-spinner class="loading-spinner" />
  }
  <mat-paginator
    class="justify-self-center"
    [length]="totalProductsCount"
    [pageSize]="10"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    [showFirstLastButtons]="true"
    aria-label="Select page"
  >
  </mat-paginator>
  @if (products()?.length) {
  <app-products-list [products]="products()" />
  }
</section>
