/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light Mode (Default) */
body {
  background-color: theme("colors.primary-light");
}

/* Dark Mode */
body.dark {
  background-color: theme("colors.primary-dark");
}

.material-icons.text-base {
  font-size: inherit;
}

.bg-secondary {
  background-color: theme("colors.secondary-light");
}
body.dark .bg-secondary {
  background-color: theme("colors.secondary-dark");
}

.bg-gradient {
  background: linear-gradient(132deg, #fc415a, #591bc5, #212335);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
